{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit Page</h1>

    <div class="create">
        <form method="post" action="{% url "edit" title %}">
            {% csrf_token %}
            <label for="title">Title</label>
            <input type="text" value="{{ title }}" name="title" id="title">
            <label for="content">Content</label>
            <textarea name="content" id="content" cols="30" rows="10">{{ entry }}</textarea>
            <button class="btn btn-primary" type="submit">Save</button>
        </form>
    </div>
{% endblock %}